*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
h1{
    color: white;
}
.profile{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Timer{
    color: cyan;
    font-size: 48px;
}